html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  font-size: 16px;
}

body {
  background-color: rgb(181, 193, 225);
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100vh;
  width: 100%;
}

h1 {
  margin: 0 2rem 2rem 2rem;
}

main {
  grid-column-start: 2;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  width: 460px;
  box-shadow: 0 0 2rem 0.5rem rgba(54, 52, 101, 0.3);
  border-left: 1px solid rgba(20, 24, 77, 0.3);
  border-right: 1px solid rgba(20, 24, 77, 0.3);
  background-color: rgb(255, 255, 255);
  margin-inline: auto;
}

#header {
  background-color: rgb(255, 255, 255);
  padding-top: 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

#content {
  padding: 0 2rem;
  margin: 0;
  overflow-y: auto; /* Enable vertical scrolling */
  padding-bottom: 1rem; /* Give space at the bottom for better scroll visibility*/
}

#container-modify-list {
  padding: 1rem 2rem 2.1rem 2rem;
  background-color: rgb(255, 255, 255);
  position: sticky;
  bottom: 0;
  z-index: 10;
  border-top: 2px solid rgb(236, 236, 236);
}

button {
  font-size: 1rem;
  height: 1.95rem;
  border: none;
  padding: 0.2rem 1rem;
  width: fit-content;
  cursor: pointer;
  border-radius: 0.125rem;
}

.btn-primary {
  background-color: rgb(77, 55, 149);
  color: white;
}

.btn-secondary {
  border: 1px solid rgb(77, 55, 149);
  background-color: transparent;
  color: rgb(39, 19, 104);
}

#btn-remove-done {
  width: 100%;
}

#inp-new-todo {
  font-size: 1rem;
  height: 1.75rem;
  padding: 0 0.5rem;
  flex: 1;
}

#add-todo {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-block: 0.7rem 1.3rem;
}

ul {
  list-style-type: none;
  margin-block: 1rem;
  padding: 0;
}

#filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%; /* Ensure the container takes full width */
  margin: 0;
}

#filters input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
}

#filters li {
  width: 100%;
}

#filters label {
  display: block;
  padding: 0.3rem 1rem;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  color: rgb(36, 36, 36);
  border-bottom: 2px solid rgb(236, 236, 236);
}

#filters input[type="radio"]:checked + label {
  border-bottom: 3px solid rgb(30, 48, 122);
  color: black;
  font-weight: 600;
}

#list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

#list li {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: left;
  align-items: center;
  padding-top: 0.5rem;
}

#list li + li {
  border-top: 1px solid rgb(202, 202, 202);
}

#list input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
  accent-color: rgb(81, 55, 166);
  flex-shrink: 0;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

#hint-duplicate {
  background-color: rgb(255, 205, 205);
  padding: 0.65rem 1rem;
  border: 2px solid rgb(234, 157, 157);
  color: rgb(69, 0, 0);
  border-radius: 0.15rem;
  position: fixed;
  bottom: 9.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

li label,
li input[type="checkbox"] {
  cursor: pointer;
}
